<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<include>wbg</include>
		<control type="group">
			<control type="list" id="9000">
				<right>20</right>
				<top>75</top>
				<width>200</width>
				<height>500</height>
				<onleft>9001</onleft>
				<onright>noop</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>-</pagecontrol>
				<scrolltime>300</scrolltime>
				<focusposition>2</focusposition>
				<movement>1</movement>
				<orientation>vertical</orientation>
				<itemlayout height="35" width="200">
					<control type="label">
						<left>5</left>
						<top>0</top>
						<width>190</width>
						<height>25</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="35" width="200">
					<control type="label">
						<left>5</left>
						<top>0</top>
						<width>190</width>
						<height>25</height>
						<font>font16</font>
						<textcolor>blue</textcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2>31400</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="14">
						<label>SKIN SETTING</label>
						<label2> </label2>
						<onclick>noop</onclick>
						<icon>-</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="3">
						<label>31502</label>
						<label2>31409</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>special://skin/backgrounds/tv.jpg</icon>
					</item>
					<item id="4">
						<label>2</label>
						<label2>31402</label2>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="5">
						<label>1</label>
						<label2>31403</label2>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="6">
						<label>8</label>
						<label2>31404</label2>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="7">
						<label>24001</label>
						<label2>31408</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>-</icon>
					</item>
					<item id="8">
						<label>14036</label>
						<label2>31410</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="9">
						<label>13000</label>
						<label2>31406</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="10">
						<label>7</label>
						<onclick>ActivateWindow(FileManager)</onclick>
						<icon>-</icon>
					</item>
					<item id="11">
						<label>130</label>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon>-</icon>
					</item>
					<item id="12">
						<label>13200</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>-</icon>
					</item>
					<item id="13">
						<label>BACK</label>
						<onclick>back</onclick>
						<icon>-</icon>
					</item>
					
				</content>
			</control>
			<control type="textbox">
				<description>Appearance Description</description>
				<left>745</left>
                <top>315</top>
                <width>240</width>
				<height>290</height>
				<font>font13</font>
				<label>$INFO[Container(9000).ListItem.Label2]</label>
				<align>justify</align>
				<textcolor>white</textcolor>
				<shadowcolor>black</shadowcolor>
			</control>
		</control>
				<control type="grouplist" id="9001">
					<visible>Container(9000).Hasfocus(14)</visible>
					<left>90</left>
					<top>50</top>
					<width>645</width>
					<height>540</height>
					<pagecontrol>-</pagecontrol>
					<onleft>9000</onleft>
					<onright>9000</onright>
					<onup>9001</onup>
					<ondown>9001</ondown>
					<control type="label" id="100">
						<width>580</width>
						<height>45</height>
						<font>font13_title</font>
						<label>31106</label>
						<textcolor>blue</textcolor>
						<shadowcolor>black</shadowcolor>
						<align>left</align>
						<aligny>center</aligny>
					</control>
					<control type="radiobutton" id="101">
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label>20189</label>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>Skin.ToggleSetting(AutoScroll)</onclick>
						<selected>Skin.HasSetting(AutoScroll)</selected>
					</control>
					<control type="radiobutton" id="102">
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label>31103</label>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>Skin.ToggleSetting(Show_SlideShow_Paused)</onclick>
						<selected>!Skin.HasSetting(Show_SlideShow_Paused)</selected>
					</control>
					<control type="radiobutton" id="113">
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label>31107</label>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<textwidth>540</textwidth>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>Skin.ToggleSetting(HideFilenameFlagging)</onclick>
						<selected>Skin.HasSetting(HideFilenameFlagging)</selected>
					</control>
					<control type="label" id="104">
						<width>580</width>
						<height>45</height>
						<font>font13_title</font>
						<label>20343</label>
						<textcolor>blue</textcolor>
						<shadowcolor>black</shadowcolor>
						<align>left</align>
						<aligny>center</aligny>
						<visible>System.HasAddon(script.tvtunes)</visible>
					</control>
					<control type="radiobutton" id="115">
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label>31126</label>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>Skin.ToggleSetting(ActivateTvTunes)</onclick>
						<selected>Skin.HasSetting(ActivateTvTunes)</selected>
						<visible>System.HasAddon(script.tvtunes)</visible>
					</control>
					<control type="radiobutton" id="229">
						<description>Hide mouse pointer</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - Mouse Pointer</label>
						<onclick>Skin.ToggleSetting(MousePointer)</onclick>
						<selected>Skin.HasSetting(MousePointer)</selected>
					</control>
					<control type="label" id="106">
						<width>580</width>
						<height>45</height>
						<font>font13_title</font>
						<label>512</label>
						<textcolor>blue</textcolor>
						<shadowcolor>black</shadowcolor>
						<align>left</align>
						<aligny>center</aligny>
					</control>
					<control type="radiobutton" id="107">
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label>21398</label>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>Skin.ToggleSetting(Use_Startup_Playlist)</onclick>
						<selected>Skin.HasSetting(Use_Startup_Playlist)</selected>
					</control>
					<control type="button" id="108">
						<description>Startup Playlist Path</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>15311</label>
						<label2>$INFO[Skin.String(Startup_Playlist_Path)]</label2>
						<onclick>Skin.SetFile(Startup_Playlist_Path,,special://MusicPlaylists/)</onclick>
						<enable>Skin.HasSetting(Use_Startup_Playlist)</enable>
					</control>
					<control type="label" id="220">
						<width>580</width>
						<height>45</height>
						<font>font13_title</font>
						<label>31108</label>
						<textcolor>blue</textcolor>
						<shadowcolor>black</shadowcolor>
						<align>left</align>
						<aligny>center</aligny>
					</control>
					<control type="radiobutton" id="221">
						<description>Hide Videos Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - DATA BASE INFO</label>
						<onclick>Skin.ToggleSetting(HomeMenuNodata)</onclick>
						<selected>Skin.HasSetting(HomeMenuNodata)</selected>
					</control>
					<control type="radiobutton" id="222">
						<description>Hide Movies Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[20342] [COLOR=grey3] ($LOCALIZE[20314])[/COLOR]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoMovieButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoMovieButton)</selected>
						<enable>Library.HasContent(Movies)</enable>
					</control>
					<control type="radiobutton" id="223">
						<description>Hide TV Shows Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[20343] [COLOR=grey3] ($LOCALIZE[20314])[/COLOR]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoTVShowButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoTVShowButton)</selected>
						<enable>Library.HasContent(TVShows)</enable>
					</control>
					<control type="radiobutton" id="224">
						<description>Hide Music Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[2]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoMusicButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoMusicButton)</selected>
					</control>
					<control type="radiobutton" id="225">
						<description>Hide Pictures Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[1]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoPicturesButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoPicturesButton)</selected>
					</control>
					<control type="radiobutton" id="226">
						<description>Hide Programs Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[24001]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoProgramsButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoProgramsButton)</selected>
					</control>
					<control type="radiobutton" id="227">
						<description>Hide favourites Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[1036]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoFavoritesButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoFavoritesButton)</selected>
					</control>
					<control type="button" id="511">
						<visible>!Skin.HasSetting(HomeMenuNoFavoritesButton)</visible>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label> - $LOCALIZE[1036] [B]1[/B]</label>
						<label2>[COLOR=selected]$INFO[Skin.String(HomeFav.1.Label)][/COLOR]</label2>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>RunScript(script.favourites,property=HomeFav.1)</onclick>
					</control>
					<control type="button" id="512">
						<visible>!Skin.HasSetting(HomeMenuNoFavoritesButton)</visible>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label> - $LOCALIZE[1036] [B]2[/B]</label>
						<label2>[COLOR=selected]$INFO[Skin.String(HomeFav.2.Label)][/COLOR]</label2>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>RunScript(script.favourites,property=HomeFav.2)</onclick>
					</control>
					<control type="button" id="513">
						<visible>!Skin.HasSetting(HomeMenuNoFavoritesButton)</visible>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label> - $LOCALIZE[1036] [B]3[/B]</label>
						<label2>[COLOR=selected]$INFO[Skin.String(HomeFav.3.Label)][/COLOR]</label2>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>RunScript(script.favourites,property=HomeFav.3)</onclick>
					</control>
					<control type="button" id="514">
						<visible>!Skin.HasSetting(HomeMenuNoFavoritesButton)</visible>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label> - $LOCALIZE[1036] [B]4[/B]</label>
						<label2>[COLOR=selected]$INFO[Skin.String(HomeFav.4.Label)][/COLOR]</label2>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>RunScript(script.favourites,property=HomeFav.4)</onclick>
					</control>
					<control type="button" id="515">
						<visible>!Skin.HasSetting(HomeMenuNoFavoritesButton)</visible>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label> - $LOCALIZE[1036] [B]5[/B]</label>
						<label2>[COLOR=selected]$INFO[Skin.String(HomeFav.5.Label)][/COLOR]</label2>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>RunScript(script.favourites,property=HomeFav.5)</onclick>
					</control>
					<control type="button" id="516">
						<visible>!Skin.HasSetting(HomeMenuNoFavoritesButton)</visible>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<label> - $LOCALIZE[1036] [B]6[/B]</label>
						<label2>[COLOR=selected]$INFO[Skin.String(HomeFav.6.Label)][/COLOR]</label2>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<onclick>RunScript(script.favourites,property=HomeFav.6)</onclick>
					</control>
					<control type="radiobutton" id="228">
						<description>Hide Weather Button</description>
						<width>580</width>
						<height>40</height>
						<font>font16</font>
						<textcolor>white</textcolor>
						<focusedcolor>blue</focusedcolor>
						<texturefocus>-</texturefocus>
						<texturenofocus>-</texturenofocus>
						<label>$LOCALIZE[31111] - $LOCALIZE[8]</label>
						<onclick>Skin.ToggleSetting(HomeMenuNoWeatherButton)</onclick>
						<selected>Skin.HasSetting(HomeMenuNoWeatherButton)</selected>
					</control>
					
				</control>
		
		<control type="label">
			<include>WindowTitleSide</include>
			<label>$LOCALIZE[5] - $INFO[Container(9000).ListItem.Label]</label>
		</control>
		<include>Clock</include>
	</controls>
</window>
